In [6]:
def area(rad,length,width):
    aco=3.14*rad*rad
    aor= length*width
    return{'Area of circle':aco,'Area of rectangle':aor}

In [8]:
t='HYderabAAd'

In [9]:
t

'HYderabAAd'

In [10]:
type(t)

str

In [11]:
t.count('a')

1

In [18]:
def count(t):
    t=t.lower()
    return t.count('a')

In [19]:
t='HyderabAAd 500008 Telangana'
t

'HyderabAAd 500008 Telangana'

In [25]:
def count_num_alpha(x):
    c=0
    d=0
    
    for i in x:
        if i.isalpha():
            c+=1
        elif i.isnumeric():
            d+=1
    return {'Number of alphabets':c,'Number of digits':d}

In [26]:
count_num_alpha(t)

{'Number of alphabets': 19, 'Number of digits': 6}

In [ ]:
def seprater(x):
    
    j=[]
    k=[]
    for i in x:
        if i%2==0:
            j